@import url('https://fonts.googleapis.com/css?family=Roboto');

$color-primary: #90caf9;
$color-black: #000;
$color-white: #fff;
$color-lightgrey: #aaa;
$color-grey: #4c4c4c;
$color-darkgrey: #212121;

$pad: 6px;;

$font-primary: 'Roboto', sans-serif;

