@import 'vars';

* {
  position: static;
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-primary;
  font-size: 1em;
  font-weight: normal;
  text-decoration: none;
  border: none; 
  outline: none;
}

